<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>詳細画面</title>
  </head>

  <body>
    <h1>Tode詳細</h1>

    <a href="index.html" th:href="@{index}">一覧画面に遷移</a>
    <a href="edit.html" th:href="@{edit(id=${todo.id})}">修正画面に遷移</a>
    <table>
      <tr>
        <th>ID</th>
        <td th:text="${todo.id}"></td>
      </tr>
      <tr>
        <th>タスク</th>
        <td th:text="${todo.title}"></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td th:text="${todo.status}"></td>
      </tr>
      <!-- <tr>
        <th>期限</th>
        <td th:text="${todo.limit}"></td>
      </tr> -->
    </table>
    <a href="index.html" th:href="@{deleteComplete(id=${todo.id})}">削除する</a>
  </body>
</html>
