<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>修正画面</title>
  </head>

  <body>
    <h1>タスクを修正</h1>

    <a href="index.html" th:href="@{index}">一覧画面に遷移</a>

    <form
      method="post"
      action="index.html"
      th:action="@{updateComplete(id=${todo.id})}"
    >
      <table>
        <tr>
          <th>ID</th>
          <td th:text="${todo.id}"></td>
        </tr>
        <tr>
          <th>タスク</th>
          <td><input type="text" name="title" th:value="${todo.title}"/></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><input type="text" name="status" th:value="${todo.getStatus()}"/></td>
        </tr>
        <!-- <tr>
          <th>期限</th>
          <td><input type="limit" name="status" th:value="${todo.limit}"/></td>
        </tr> -->
      <button>修正する</button>
    </form>
  </body>
</html>
