<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Todoアプリ</title>
  </head>

  <body>
    <h1>タスク一覧</h1>
    <form action="index.html" th:action="@{detail}">
      ID：<input type="number" name="id" />
      <button>主キー検索を行い詳細画面に遷移</button>
    </form>

    <a href="regist.html" th:href="@{regist}">社員情報の挿入を行う画面に遷移</a>

    <table>
      <tr>
        <!-- <th>ID</th> -->
        <th>タスク</th>
        <th>ステータス</th>
        <th>優先度</th>
        <!-- <th>期限</th> -->
      </tr>
      <tr th:each="todo : ${todoList}" th:object="${todo}">
        <!-- <td th:text="*{id}"></td> -->
        <td th:text="*{title}"></td>
        <td th:text="*{status}"></td>
        <td th:text="*{priority}"></td>
        <!-- <td th:text="*{limit}"></td> -->
        <td><a href="detail.html" th:href="@{detail(id=*{id})}">詳細</a></td>
      </tr>
    </table>
  </body>
</html>
