<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>一覧画面</title>
  </head>

  <body>
    <h1>おまんこに挿入</h1>

    <a href="index.html" th:href="@{index}">一覧画面に遷移</a>

    <form method="post" action="index.html" th:action="@{insertComplete}">
      <table>
        <tr>
          <th>ID</th>
          <td>おまんこ</td>
        </tr>
        <tr>
          <th>タスク</th>
          <td><input type="text" name="title" /></td>
        </tr>
      </table>
      ステータス：
      <select name="status">
        <option>未実施</option>
        <hr />
        <option>実施中</option>
        <option>完了</option>
        <option>おまんこ</option>
      </select>
      優先順位：
      <select name="priority">
        <option>High</option>
        <hr />
        <option>High</option>
        <option>Mid</option>
        <option>Low</option>
      </select>
      <!-- <tr>
        <th>期限</th>
        <td><input type="date" name="limit" /></td>
      </tr> -->
      <button>登録する</button>
    </form>
  </body>
</html>
