<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>一覧画面</title>
  </head>

  <body>
    <h1>タスクをDBに挿入</h1>

    <a href="index.html" th:href="@{index}">一覧画面に遷移</a>

    <form method="post" action="index.html" th:action="@{insertComplete}">
      <table>
        <tr>
          <th>ID</th>
          <td>自動採番</td>
        </tr>
        <tr>
          <th>タスク</th>
          <td><input type="text" name="title" /></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><input type="text" name="status" /></td>
        </tr>
        <tr>
          <th>優先度</th>
          <td><input type="text" name="priority" /></td>
        </tr>
      </table>
      <button>登録する</button>
    </form>
  </body>
</html>
